.Rav {
font-family:"Myriad Pro";
font-size: 80px;
font-weight: 400;
margin-top: 79px;
margin-left: 106px;
}

.mdajs {
color:#4bcaff;
font-size: 80px;
font-weight: 400;
font-family:"Myriad Pro";
}

@font-face {
    font-family: "Myriad Pro";
    src: url("../fonts/MyriadPro/MyriadPro-Regular.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

.menu {
background-color:#35444f;
width: 1280px;
height: 69px;
list-style-type: none;
margin-top: 45px;
margin-left: 106px;
padding: 0;
overflow: hidden;
}

.menu_link {
    float: left;
}

.menu_link_block {
    display: block;
    background-color: none;
}

.menu_link_block.active {
    background-color: #35444f;
    color: white;
    }

.menu_link_block:hover:not(.active) {
        background-color: #222f3a;
        color: white;
}

.menu_text {
font-family:"Myriad Pro";
color:  #ffffff;
font-size: 24px;
font-weight: 400;
text-align: center;
text-decoration: none;
}


.functional {
padding-top: 30px;
padding-right: 118px;
padding-bottom: 17px;
padding-left: 43px;
}

.ramda {
padding-top: 30px;
padding-right: 41px;
padding-bottom: 17px;
padding-left: 41px;
}

.fantasy {
padding-top: 30px;
padding-right: 270px;
padding-bottom: 17px;
padding-left: 264px;
}

.left_menu{
border-width: 1px;
border-color:  #35444f;
border-style: solid;
background-color:  #ffffff;
width: 344px;
float: left;
margin-top: 51px;
margin-left: 106px;
padding: 0;
}

.left_menu_link_block {
list-style-type: none;
    display: block;
    background-color: none;
    padding: 13px 15px
}



.left_menu_text {
font-family: 'Myriad Pro';
color:  #485863;
font-size: 26.99px;
font-weight: 400;
text-align: left;
text-decoration: none;
}




.left_menu_link_block.active {
background-color:  #35444f;
color: #485863;
    }

.left_menu_link_block:hover:not(.active) {
 background-color: #cccccc;
 -webkit-transform: scaleY(1.0003);
 color: #000000;
}

.img_container {
border-width: 1px;
border-color:  #35444f;
border-style: solid;
background-color:  #ffffff;
width: 883px;
height: 527px;
float: left;
margin-left: 53px;
margin-top: 51px;
}

.picture {
width: 320px;
height: 381px;
margin-left: 297px;
margin-top: 73px;
}

.container_text {
width: 816px;
height: 253px;
position: absolute;
left:526px;
top:898px;
}

.text {
font-family: 'Myriad Pro';
color:  #2c2b2b;
font-size: 18px;
font-weight: 400;
line-height: 24px;
text-align: left;
}

.footer {
list-style-type: none;
background-color: #dbdbdb;
weight: 1280px;
height: 69px;
position: absolute;
top: 1356px;
left: 106px;
margin: 0;
padding: 0;
overflow: hidden;
}

.footer_menu_link {
float: left;
margin-left: 43px;
}

.footer_menu_link_block {
display: inline-block;
    color: #0c1927;
    text-align: center;
    padding: 21px 0px;
    text-decoration: none;
}

.footer_menu_link_block:hover {
background-color: none;
color: #4bcaff;
text-decoration: underline;
    }

.footer_menu_link_block_active {
        background-color: none;
        color: #0c1927;
        text-decoration: none;
}

.footer_text_menu {
font-family: 'Myriad Pro';
color: #0c1927;
font-size: 28px;
text-align: left;
text-decoration: none;
}

.footer_copyright_link_block {
display: inline-block;
    color: #0c1927;
    text-align: center;
    padding: 22px 30px;
    text-decoration: none;
}

.footer_copyright_link {
float: left;
margin-right: 11px;
}

.footer_text_copyright {
font-family: 'Myriad Pro';
color:  #0c1927;
font-size: 28px;
text-align: left;
text-decoration: none;
}






